<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Remove Punctuation</title>
</head>
<style>
    h1{
        font-size:60px;
        color:rgb(171, 8, 192);
        text-align: center;
    }
    pre{
        text-align:center;
        font-size: 30px;
    }
    body{
        background-color: rgb(186, 253, 222);
    }
</style>

<body>
    <h1>SO here is the analyzed text </h1>
    <p>

        <pre>{{analyzed_text}}</pre>

    </p>

</body>

</html>